extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/test/submit" method="post")
    input(type="text" name="id" placeholder="submit ID")
    button(type="submit") Submit



  h3 Insert Data
  br
  form(action="/insert" method="post")
    label(for="country") Country
    input(type="text" id="country" name="country")

    label(for="description") Description
    input(type="text" id="description" name="description")

    label(for="image") Image
    input(type="text" id="image" name="image")

    button(type="submit") Insert
  h3 Get Data
  a(href="/get-data") Load Data



  each item in items
    p #{item.country}
    p #{item.description}
    p #{item.image}
    img(src="#{item.image}")
    p #{item._id}
    br
    a(href="/get-data/" + "#{item._id}") #{item.country}
    br

  h3  Update Data

  form(action="/update" method="post")
    label(for="id") ID
    input(type="text" id="id" name="id")

    label(for="country") Country
    input(type="text" id="country" name="country")

    label(for="description") Description
    input(type="text" id="description" name="description")

    label(for="image") Image
    input(type="text" id="image" name="image")

    button(type="submit") Update

  h3 Delete Data

  form(action="/delete" method="post")
    label(for="id") ID
    input(type="text" id="id" name="id")

    label(for="country") Country
    input(type="text" id="country" name="country")

    label(for="description") Description
    input(type="text" id="description" name="description")

    label(for="image") Image
    input(type="text" id="image" name="image")

    button(type="submit") Delete



