//
   Created by carolineperier on 12/05/2017.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

        h1 #{item.country}

        p #{item.description}
        br
        p #{item.image}
        br
        img(src="#{item.image}")
        br
        p #{item._id}

        block content